<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epfd.dolto">

    <application
        android:name="com.epfd.dolto.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_pos2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_pos2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.epfd.dolto.event.EventFileActivity"
            android:label="@string/event_event_single"
            android:parentActivityName="com.epfd.dolto.event.EventMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.event.EventMainActivity" />
        </activity>
        <activity android:name="com.epfd.dolto.eventcreator.EventCreatorStageListingActivity" />
        <activity
            android:name="com.epfd.dolto.administrator.stageedition.FileStageCreatorActivity"
            android:label="@string/stage_creator_stage"
            android:parentActivityName="com.epfd.dolto.administrator.stageedition.StageCreatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.administrator.stageedition.StageCreatorActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.administrator.stageedition.StageCreatorActivity"
            android:label="@string/stage_creator_stage_menu"/>
        <activity
            android:name="com.epfd.dolto.eventcreator.EventCreatorMenuActivity"
            android:label="@string/event_creator_event_menu"/>
        <activity
            android:name="com.epfd.dolto.eventcreator.EventPanelActivity"
            android:label="@string/event_creator_event"
            android:parentActivityName="com.epfd.dolto.eventcreator.EventCreatorMenuActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.eventcreator.EventCreatorMenuActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.event.EventMainActivity"
            android:label="@string/event_event" />
        <activity
            android:name="com.epfd.dolto.administrator.newsedition.FileNewsPhotoBackEndActivity"
            android:label="@string/news_creator_photo_backend"
            android:parentActivityName="com.epfd.dolto.administrator.newsedition.NewsCreatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.administrator.newsedition.NewsCreatorActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.administrator.newsedition.FileNewsCreatorActivity"
            android:label="@string/news_creator_news_file"
            android:parentActivityName="com.epfd.dolto.administrator.newsedition.NewsCreatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.administrator.newsedition.NewsCreatorActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.administrator.newsedition.NewsCreatorActivity"
            android:label="@string/news_creator_label"/>
        <activity
            android:name="com.epfd.dolto.administrator.cakefridayedition.CakeFridayActivity"
            android:label="@string/cake_edition_label"/>
        <activity
            android:name="com.epfd.dolto.administrator.classroomsedition.ClassroomsEditionActivity"
            android:label="@string/classrooms_edition_label"/>
        <activity
            android:name="com.epfd.dolto.formulary.ContactActivity"
            android:label="@string/connexion_contact_btn"
            android:parentActivityName="com.epfd.dolto.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.MainActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.presentation.PresentationActivity"
            android:label="@string/connexion_presentation_btn"
            android:parentActivityName="com.epfd.dolto.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epfd.dolto.MainActivity" />
        </activity>
        <activity
            android:name="com.epfd.dolto.formulary.PrivacyPolicyActivity"
            android:label="@string/navigation_drawer_policy"/>
        <activity android:name="com.epfd.dolto.firstpage.FirstPageActivity" />
        <activity android:name="com.epfd.dolto.formulary.PasswordActivity" />
        <activity android:name="com.epfd.dolto.formulary.FormularyActivity" />
        <activity android:name="com.epfd.dolto.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- NOTIFICATION SERVICE -->
        <receiver
            android:name="com.epfd.dolto.utils.MyAlarmReceiver"
            android:exported="true" />

        <service android:name="com.epfd.dolto.notifications.NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.epfd.dolto"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>