<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epfd.csandroid">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_pos2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_pos2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".formulary.NewsCreatorActivity"
            android:label="@string/news_creator_label"
            android:parentActivityName=".firstpage.FirstPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".firstpage.FirstPageActivity" />
        </activity>
        <activity
            android:name=".notifications.NotificationWindowActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".administrator.cakefridayedition.CakeFridayActivity"
            android:label="@string/cake_edition_label"
            android:parentActivityName=".firstpage.FirstPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".firstpage.FirstPageActivity" />
        </activity>
        <activity
            android:name=".administrator.classroomsedition.ClassroomsEditionActivity"
            android:label="@string/classrooms_edition_label"
            android:parentActivityName=".firstpage.FirstPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".firstpage.FirstPageActivity" />
        </activity>
        <activity
            android:name=".formulary.ContactActivity"
            android:label="@string/connexion_contact_btn"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".presentation.PresentationActivity"
            android:label="@string/connexion_presentation_btn"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".formulary.PrivacyPolicyActivity"
            android:label="@string/navigation_drawer_policy"
            android:parentActivityName=".firstpage.FirstPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".firstpage.FirstPageActivity" />
        </activity>
        <activity android:name=".firstpage.FirstPageActivity" />
        <activity android:name=".formulary.PasswordActivity" />
        <activity android:name=".formulary.FormularyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- NOTIFICATION SERVICE -->
        <service android:name=".notifications.NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.MyAlarmReceiver"
            android:exported="true" />
    </application>

</manifest>